.shiny-text {
    background: linear-gradient(120deg,
            #8B4513 40%,
            #E8DCC8 50%,
            #8B4513 60%);
    background-size: 200% auto;
    color: #8B4513;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    animation: shine linear infinite;
    font-weight: bold;
}

.shiny-text.disabled {
    animation: none;
}

@keyframes shine {
    to {
        background-position: 200% center;
    }
}